.jumbotron {
	margin-top: 20px;
	text-align: center;
}

.header {
	border-bottom: 1px solid #e5e5e5;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
}

#messages {
	list-style-type: none;
	margin: 0;
	margin-top: 25px;
	padding: 0;
	word-wrap: break-word;
	height: 350px;
	overflow: auto;
}

#messages li {
	padding: 5px 10px;
}

#messages li:nth-child(odd) {
	background: #eee;
}